.app-header{
    &__bar-top{
        background-color: var(--light-grey);
        padding: 7px 0;
        font-size: .85rem;
        &-lang{
            padding-right: 1.4em;
            border-right: 1px solid darken($light-grey, 15%);
            cursor: pointer;
            .is-icon{
                line-height: 0;
                vertical-align: middle;
                font-size: 1rem;
            }
        }
        &-wish{
            margin-left: 1.7em;
            cursor: pointer;
            .is-icon{
                line-height: 0;
                vertical-align: middle;
                font-size: .7rem;
                margin-right: .25em;
            }
        }
    }
}